// out: null,  main: Z:/home/octava.ru/www/theme/Octava/css/style.less

.contact__note{
	border: 2px solid #FAA2A2;
	height: 200px;
}



.contact__card{
	background-color: #FAA2A2;
	color: white;
	height: 200px;
	border-width:5px;
}