// out: null,  main: Z:/home/octava.ru/www/theme/Octava/css/style.less


header {
	border-bottom: 1px solid #000;
	
	background: url('/theme/Octava/images/hero-image.png') center center no-repeat;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;
}

navbar {
	display: block;
	background-color: rgba(0,0,0, 0.3);
	height: 50px;
	margin:0 -15px;
	padding-left: 15px;
	ul{
		line-height: 50px;
		li {
			display: inline-block;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.07em;
			text-transform: uppercase;
			padding-right: 25px;

			a {
				text-decoration: none;

				color: #fff;
			}
		}

	}
}
