// out: null,  main: Z:/home/octava.ru/www/theme/Octava/css/style.less
.button-gradient() {
	background: -webkit-linear-gradient(180deg, #E56262 0%, #983446 100%);
	background: -o-linear-gradient(180deg, #E56262 0%, #983446 100%);
	background: -ms-linear-gradient(180deg, #E56262 0%, #983446 100%);
	background: linear-gradient(180deg, #E56262 0%, #983446 100%);
}

.hello-screen {

	background: url('/theme/Octava/images/hero-image.png') center center no-repeat;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;


	&__main {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		p {
			font-size: 18px;
			color: @inverse-font-color;
			margin-bottom: 50px;
		}

		.button {
			margin: 0 auto;
			.button-gradient();
			border-radius: 5px;
			height: 50px;
			width: 400px;
			padding: 0 20px;
			text-transform: uppercase;
			line-height: 50px;
			font-weight: 700;
			letter-spacing: 0.05em;
			font-size: 17px;
			box-shadow: none;
			border: none;
			color: @inverse-font-color;
				text-decoration: none;
			cursor: pointer;
			a {

				color: @inverse-font-color;
				text-decoration: none;
				&:hover {
					color: @inverse-font-color;
				}
			}
		}
	}
}


