// out: null,  main: Z:/home/octava.ru/www/theme/Octava/css/style.less
// Цвет основого текста 
@base-font-color: #333333;

@inverse-font-color: #fff;

// Основной цвет 
@primary-color: #ff5158;

// Основной светлый цвет 
@primary-light-color: #fa9899;

// Основной темный цвет 
@primary-dark-color: #983446;

// Цвет ховера навигации 
@hover-navigation-color: #FFD6A0;

// Цвет обводки ховера 
@hover-border: #CCC;

//Основной размер шрифта
@base-font-size: 16px;

//Размер шрифта для больших букв
@uppercase-font-size: 14px;

//Основная ширина строки 
@base-line-height: 27px;

//Основной шрифт
@base-font-family: 'Open Sans', sans-serif;


//Размер шрифта заголовка 1
@header1-font-size: 32px;

//Ширина строки заголовка 1
@header1-line-height: 40px;
// Высота хедера 
@header-height: 70px;

// Высота футера 
@footer-height: 70px;

.main-border(){
	border: 2px solid 
}
